@charset "UTF-8";
@font-face {
    font-family: "calculator";
    src: url(../fontes/Calculator.ttf);
}

*{
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.474);
}

h1{
    text-align: center;
}

article#main {
    margin: auto;
    height: 400px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(201, 193, 193);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div#visualizador {
    height: 80px;
    width: 90%;
    border: 1px solid none;
    border-radius: 5px;
    margin: 20px auto;
    background-color: rgba(0, 128, 0, 0.488);
    font-family: "calculator";
}

div#visualizador p#tela {
    padding: 10px 0px;
    height: 40px;
    font-size: 3em;
    overflow: hidden;
    text-align: right;
}

table {
    margin: auto;
}

div#numeros {
    height: 280px;
    width: 300px;
    margin: 10px auto;
    padding-top: 15px;
    text-align: center;
}

input.teclas {
    height: 40px;
    width: 60px;
    margin: 5px 0px;
    font-size: 2em;
    cursor: pointer;
}

input#zero {
    width: 120px;
}

input#igual {
    height: 90px;
}