@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@keyframes transition {
    from{
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER*/

header {
    display: flex;
    align-items: center;

    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);

    height: 12.8vh;
    width: 100%;

    background-attachment: fixed;

    position: relative;
}

header #jornal_icon {
    font-size: 10vw;
}

header h2 {
    font-size: 5vw;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.132);
}

/*  BOX SEARCH */

header > .box_search {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    overflow: hidden;

    position: absolute;
    right: 50px;
    top: 25px;

    transition-timing-function: ease;
    transition-duration: 0.1s;
}

header .box_search.active {
    width: 90%;
    height: 40%;
    background-color: white;
    border-radius: 50px;
    align-items: center;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.181);

    left: 50%;
    transform: translate(-50%);
}

header .box_search #button_search {
    display: flex;
    cursor: pointer;
    min-width: 40px;
    
    
    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);

    border: 0px;

    justify-content: center;
    align-items: center;

    border-radius: 100%;
}

header .box_search #button_search.active {
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    width: 10%;
    background-color: white;
    color: rgb(94, 87, 87);
    border-right: 1px solid rgba(0, 0, 0, 0.067);
}

header .box_search #txt_search, header .box_search #button_back {
    display: none;
}

header .box_search #txt_search.active{
    display: flex;
    width: 75%;
    border-radius: 0px 15px 15px 0px;
    outline: none;
    border: none;
}

header .box_search #button_back.active {
    display: flex;
    background-color: white;
    border: none;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: rgb(94, 87, 87);
    cursor: pointer;
}

/* box search */

header button#button_menu {
    position: absolute;
    right: 5px;

    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    height: 40px;
    width: 40px;

    border-radius: 100px;

    border: 1px;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

header button#button_menu.active {
    background-color: white;
    color: rgb(94, 87, 87);
    transform: rotate(180deg);

    transition-timing-function: ease;
    transition-duration: 0.2s;
}

/* header */

#menu {
    display: none;

    position: absolute;
    right: 1px;

    border: 1px solid rgba(0, 0, 0, 0.122);
    border-top: 0px;

    animation-name: transition;
    animation-duration: 0.8s;
}

#menu span {
    vertical-align: sub;
}

#menu a {
    display: block;
    padding: 8px 5px;
    
    text-align: center;

    text-decoration: none;
    color: rgb(94, 87, 87);

    border-bottom: 1px solid rgba(94, 87, 87, 0.442);

    font-size: 1.1em;

    transition: 0.5s;
}

#menu a:hover {
    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);
}

@media screen and (min-width: 760px) {
    header {
        justify-content: center;
    }

    header h2 {
        font-size: 2.2em;
    }

    header #jornal_icon {
        font-size: 4em;
    }

    header button#button_menu {
        display: none;
    }

    #menu {
        position: relative;
        display: flex;
        width: 100%;
        column-gap: 1px;
        border: 0px;

        background-color: rgba(94, 87, 87, 0.184);
    }

    #menu a {
        background-color: white;
        width: 25%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.122);
    }

    #menu a:hover {
        background-color: rgba(255, 255, 255, 0.714);
        color: rgb(94, 87, 87);
        border-top: 1px solid rgb(94, 87, 87);
    }
}