@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;

    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);

    font-family: "Open Sans", sans-serif;

    height: 12.8vh;
    width: 100%;

}

header #jornal_icon {
    font-size: 10vw;
}

header h2 {
    font-size: 5vw;
}

header #button_menu {
    position: absolute;
    right: 5px;

    cursor: pointer;
    
    height: 40px;
    width: 40px;

    text-align: center;
    align-content: center;

    border-radius: 100px;
}

header #button_menu:hover {
    background-color: rgba(255, 251, 251, 0.804);
    color: rgb(94, 87, 87);
}

#menu {
    display: none;

    position: absolute;
    right: 1px;

    border: 1px solid rgba(0, 0, 0, 0.122);
}

.active {
    background-color: rgba(255, 251, 251, 0.804);
    color: rgb(94, 87, 87);
}

#menu span {
    vertical-align: middle;
}

#menu a {
    display: block;
    padding: 8px 5px;
    
    text-align: center;

    text-decoration: none;
    color: rgb(94, 87, 87);

    border-bottom: 1px solid rgba(94, 87, 87, 0.442);
}

#menu a:hover {
    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);
}

@media screen and (min-width: 760px) {
    header {
        justify-content: center;
    }

    header h2 {
        font-size: 2.2em;
    }

    header #jornal_icon {
        font-size: 4em;
    }

    #button_menu {
        display: none;
    }

    #menu {
        position: relative;
        display: flex;
        width: 100%;
        column-gap: 1px;
        border: 0px;

        background-color: rgba(94, 87, 87, 0.184);
    }

    #menu a {
        background-color: white;
        width: 25%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.122);
    }
}