@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    align-items: center;

    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);

    height: 12.8vh;
    width: 100%;

}

header #jornal_icon {
    font-size: 10vw;
}

header h2 {
    font-size: 5vw;
}

header #button_search {
    position: absolute;
    right: 50px;
    cursor: pointer;
    height: 40px;
    width: 40px;

    text-align: center;
    align-content: center;

    border-radius: 100%;

}

header #button_menu {
    position: absolute;
    right: 5px;

    cursor: pointer;
    
    height: 40px;
    width: 40px;

    text-align: center;
    align-content: center;

    border-radius: 100px;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#menu {
    display: none;

    position: absolute;
    right: 1px;

    border: 1px solid rgba(0, 0, 0, 0.122);
    border-top: 0px;

}

.active {
    background-color: rgba(255, 251, 251, 0.804);
    color: rgb(94, 87, 87);
    transform: rotate(180deg);

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#menu span {
    vertical-align: sub;
}

#menu a {
    display: block;
    padding: 8px 5px;
    
    text-align: center;

    text-decoration: none;
    color: rgb(94, 87, 87);

    border-bottom: 1px solid rgba(94, 87, 87, 0.442);

    font-size: 1.1em;

    transition: 0.5s;
}

#menu a:hover {
    background-color: rgb(94, 87, 87);
    color: rgba(255, 251, 251, 0.804);
}

@media screen and (min-width: 760px) {
    header {
        justify-content: center;
    }

    header h2 {
        font-size: 2.2em;
    }

    header #jornal_icon {
        font-size: 4em;
    }

    #button_menu {
        display: none;
    }

    #menu {
        position: relative;
        display: flex;
        width: 100%;
        column-gap: 1px;
        border: 0px;

        background-color: rgba(94, 87, 87, 0.184);
    }

    #menu a {
        background-color: white;
        width: 25%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.122);
    }

    #menu a:hover {
        background-color: rgba(255, 255, 255, 0.714);
        color: rgb(94, 87, 87);
        border-top: 1px solid rgb(94, 87, 87);
    }
}