@charset "UTF-8";

header {
    text-align: center;
}

menu {
    display: none;
    text-align: center;
}

span.material-icons {
    display: block;
    cursor: pointer;
}

header li {
    display: block;
    width: 100%;
}

header a {
    width: 100%;
    display: block;
}

header a:hover {
    background-color: white;
    color: #63AB6B;
}